* {
  padding: 0;
  margin: 0;
  width: 100%;
}
html,
body,
#root,
.App {
  overflow-x: hidden;
  height: 100%;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
#root {
  font-family: "Merriweather", serif;
  --color-primary: #071952;
  --color-secondary: #0b666a;
  --color-light: #35a29f;
  --color-lighter: #97feed;
  --color-white: #fff;
}
