/* * {
  padding: 0;
  margin: 0;
  width: 100%;
} */
html,
body,
#root,
.App {
  overflow: hidden;
  height: 100%;
  width: 100%;
}

.App {
  padding: 0;
  background-color: var(--color-lighter);

  /* font-family: "Segoe UI", Tahoma, Geneva, Verdana, sans-serif; */
}
.container {
  max-width: 100% !important;
  padding: 0;
}
@import url("https://fonts.googleapis.com/css2?family=Merriweather&display=swap");
#root {
  font-family: "Merriweather", serif;
  /* --color-primary: #071952;
  --color-secondary: #0b666a;
  --color-light: #35a29f;
  --color-lighter: #97feed; */
  --color-white: #fff;

  /* --color-primary: #1d5b79;
  --color-secondary: #468b97;
  --color-light: #ef6262;
  --color-lighter: #f3aa60; */
  --color-primary: #557c55;
  --color-secondary: #a6cf98;
  --color-light: #fa7070;
  --color-lighter: #f2ffe9;
}

.customBtn {
  background-color: var(--color-secondary);
  width: 16em;
  padding: 0.25em 1em;
  margin-bottom: 0;
  border-radius: 0px;
  color: var(--color-lighter);
}

.customBtn:hover {
  background-color: var(--color-primary);
  color: var(--color-lighter);
}

* {
  scrollbar-width: thin;
  scrollbar-color: blue orange;
}

/* Works on Chrome, Edge, and Safari */
::-webkit-scrollbar {
  width: 1px;
  height: 10px;
}

.lds-dual-ring {
  display: inline-block;
  width: 2em;
  height: 2em;
}
.lds-dual-ring:after {
  content: " ";
  display: block;
  width: 2em;
  height: 2em;
  margin: 4px;
  border-radius: 50%;
  border: 6px solid #fff;
  border-color: #fff transparent #fff transparent;
  animation: lds-dual-ring 1.2s linear infinite;
}
@keyframes lds-dual-ring {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
